.winter{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

// .mainText{
//     position:fixed;
//     height: 100vh;
//     display:inline-block;
//     text-align: center;
//     align-items: center;
//     justify-content: center;
//     z-index: 1;
// }

    
