@import "../../global.scss";

.navbar{
    width: 100vw;
    height: 40px;
    background-color: black;
    color: $mainColor;
    position: fixed;
    padding-bottom: 7px;
    top: 0;
    z-index: 2;

    .wrapper{
        padding-left: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;

        .left{
            display: flex;
            align-items: center;
            .logo{

                font-size: 28px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
            }

            .navlink{
                padding-left: 7px;
                padding-right: 7px;
                font-size: 28px;
                font-weight: 400;
                text-decoration: none;
                color: inherit;
            }
        }
        .right{
            padding-right: 5px;
            display: flex;
            align-items: center;
            z-index: 3;
            margin-right: 5px;
        }
    }
}